<table>
  <tr>
    <th>Dates</th>
    <th>Pollster</th>
    <th>Clinton</th>
    <th>Trump</th>
    <th>Johnson</th>
  </tr>

  <% @polls.each do |poll| %>
    <tr>
      <td><%= poll.dates %></td>
      <td><%= poll.pollster %></td>
      <td><%= poll.clinton %></td>
      <td><%= poll.trump %></td>
      <td><%= poll.johnson %></td>
    </tr>
  <% end %>
</table>
