<table>
  <tr>
    <th>Dates</th>
    <th>Pollster</th>
    <th>Clinton</th>
    <th>Trump</th>
    <th>Johnson</th>
    <th>Delete</th>
  </tr>

  <% @polls.each do |poll| %>
    <tr>
      <td><%= poll.dates %></td>
      <td><%= poll.pollster %></td>
      <td><%= poll.clinton %></td>
      <td><%= poll.trump %></td>
      <td><%= poll.johnson %></td>
      <td>
        <form action="<%= poll.id %>/destroy" method="post">
          <button name="id" value="<%= poll.id %>" type="submit">Delete</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>
